body {
  font-family: Arial;
  color: rgb(225,225,225);
  background-image: url(https://www.mashed.com/img/gallery/youve-been-storing-gingerbread-cookies-wrong-this-whole-time/this-is-how-the-cookie-doesnt-crumble-1603670971.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-color: rgb(100,100,100);
}

div {
  background-color: rgb(40,40,40);
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 200px;
  margin-right: 200px;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 5px 5px 10px black;
}

#div_title, #div_main_page, #div_main_page_info {
  text-align: center;
}

.link {
  color: white;
  background-color: rgb(200,50,50);
  margin: auto;
  padding: 5px;
  border-radius: 5px;
  text-decoration: none;
}

#link_event:hover {
  
}

#link_index {
  color: white;
  background-color: rgb(50,50,150);
  margin: auto;
  padding: 5px;
  border-radius: 5px;
  text-decoration: none;
}

#div_main_page {
  padding: 0;
}
