body {
  font-family: Arial;
  color: rgb(225,225,225);
  background-image: url(https://i.imgur.com/y4pVqNY.jpeg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-color: rgb(100,100,100);
}

div {
  background-color: rgb(40,40,40,0.9);
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 200px;
  margin-right: 200px;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 5px 5px 10px black;
}

#div_title, #div_main_page, #div_main_page_info, #div_radio_overwiev, #div_radio_ids {
  text-align: center;
}

.link {
  color: white;
  background-color: rgb(200,50,50);
  margin: auto;
  padding: 5px;
  border-radius: 8px;
  text-decoration: none;
}

#link_event:hover {
  
}

#link_index {
  color: white;
  background-color: rgb(50,50,150);
  margin: auto;
  padding: 5px;
  border-radius: 5px;
  text-decoration: none;
}

#link_index:hover {
	background-color: rgb(75,75,175);
	border: solid;
	border-width: 2px;
	border-color: rgb(25,25,125);
	padding: 6px;
	border-radius: 10px;
}

#div_main_page {
  padding: 0;
}

.key {
	background-color: rgb(25,25,25);
	padding: 1px;
	border-radius: 5px;
}
